.GoodFaithPayment {
  width: 70%;
  height: max-content;
  border: 2px solid #D3D3D3FF;
  margin: 0 auto;
  padding: 30px 50px;
  background: rgba(194, 204, 212, 0.15);
}
@media screen and (max-width: 1100px) {
  .GoodFaithPayment {
    width: 85%;
  }
}
@media screen and (max-width: 860px) {
  .GoodFaithPayment {
    width: 95%;
    padding: 30px 30px;
  }
}
@media screen and (max-width: 330px) {
  .GoodFaithPayment {
    padding: 10px 10px;
  }
}
.GoodFaithPayment > p {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 5px;
}
.GoodFaithPayment-date {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 80%;
  margin-bottom: 30px;
}
@media screen and (max-width: 860px) {
  .GoodFaithPayment-date {
    width: 90%;
    flex-wrap: wrap;
    margin-top: 40px;
  }
}
.GoodFaithPayment-date-container {
  display: flex;
  position: relative;
}
@media screen and (max-device-width: 450px) {
  .GoodFaithPayment-date-container {
    margin-bottom: 15px;
  }
}
.GoodFaithPayment-date-container-calendar {
  font-size: 2rem;
  margin-right: 10px;
}
.GoodFaithPayment-date-container-info {
  position: absolute;
  top: -10px;
  right: -15px;
  cursor: pointer;
}
.GoodFaithPayment-date-picker {
  position: relative;
  width: 210px;
}
.GoodFaithPayment-date-picker:before {
  content: 'Within the next 5 - 45 days';
  position: absolute;
  width: max-content;
  top: -25px;
  left: 0;
  font-size: 1rem;
  font-weight: 500;
  color: #293845;
}
.GoodFaithPayment-date-picker .ant-picker-input .ant-picker-suffix {
  display: none;
}
.GoodFaithPayment-date-amount {
  display: flex;
  flex-direction: column;
}
.GoodFaithPayment-date-amount-payment,
.GoodFaithPayment-date-amount-price {
  margin: 0;
  font-weight: 500;
  line-height: 1.4;
}
.GoodFaithPayment-date-amount-payment {
  font-size: 1rem;
}
.GoodFaithPayment-date-amount-price {
  font-size: 1.5rem;
}
.GoodFaithPayment-payment-frequency {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-bottom: 30px;
}
@media screen and (max-width: 860px) {
  .GoodFaithPayment-payment-frequency {
    width: 90%;
    flex-wrap: wrap;
  }
}
.GoodFaithPayment-payment-frequency-container {
  position: relative;
}
@media screen and (max-device-width: 450px) {
  .GoodFaithPayment-payment-frequency-container {
    margin: 15px 0;
  }
}
.GoodFaithPayment-payment-frequency-container-select {
  width: 210px;
}
.GoodFaithPayment-payment-frequency-container-select > span {
  margin-top: 0;
  right: 10px;
  width: 12px;
  height: 20px;
  transform: translateY(-50%);
}
.GoodFaithPayment-payment-frequency-container-select > span > img {
  width: 18px;
  height: 20px;
}
.GoodFaithPayment-payment-frequency-container-select-info {
  position: absolute;
  top: -10px;
  right: -15px;
  cursor: pointer;
}
.GoodFaithPayment-payment-frequency-amount {
  display: flex;
  flex-direction: column;
}
.GoodFaithPayment-payment-frequency-amount-payment,
.GoodFaithPayment-payment-frequency-amount-price {
  margin: 0;
  font-weight: 500;
  line-height: 1.4;
}
.GoodFaithPayment-payment-frequency-amount-payment {
  font-size: 1rem;
}
.GoodFaithPayment-payment-frequency-amount-price {
  font-size: 1.5rem;
}
.GoodFaithPayment-pay-month {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-bottom: 30px;
}
@media screen and (max-width: 860px) {
  .GoodFaithPayment-pay-month {
    width: 90%;
    flex-wrap: wrap;
  }
}
.GoodFaithPayment-pay-month-container {
  position: relative;
  margin-top: 10px;
}
@media screen and (max-device-width: 450px) {
  .GoodFaithPayment-pay-month-container {
    margin-top: 20px;
  }
}
.GoodFaithPayment-pay-month-container-select {
  width: 210px;
}
.GoodFaithPayment-pay-month-container-select > span {
  margin-top: 0;
  right: 10px;
  width: 12px;
  height: 20px;
  transform: translateY(-50%);
}
.GoodFaithPayment-pay-month-container-select > span > img {
  width: 18px;
  height: 20px;
}
.GoodFaithPayment-pay-month-container-select-info {
  position: absolute;
  top: -10px;
  right: -15px;
  cursor: pointer;
}
.GoodFaithPayment-buttons {
  display: flex;
}
.GoodFaithPayment-buttons > button {
  background: #1AAE9F;
  color: #ffffff;
  margin-right: 20px;
  border-radius: 5px;
  border: none;
  display: flex;
}
.GoodFaithPayment-buttons > button:hover {
  background: #1AAE9F;
  color: #ffffff;
}
